<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <% include nav %>
        <div class="card" style="width: 50%">
        <form method="post" action="/blogadd "padding: 20px">
            <div class="form-group">
                <label for="blogTitle" class="text-primary">Blog Title</label>
                <input class="form-control" id="blogTitle" name="blogTitle"></input>

                <label for="blogText" class="text-primary">Blog Text</label>
                <input class="form-control" id="blogText" rows="3" name="blogText"></input>

            </div>
                <input type="submit" class="btn btn-primary" value="Add Task">
        </form>
        </div>
    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>



































