<!DOCTYPE html>
<html>
 <head>
  <title><%= title %></title>
  <link rel='stylesheet' href='stylesheets/style.css' />

 </head>

 <body>
  <% include nav %>
  <h1><%= title %></h1>

     <div class="container">
        <p></p>
        <div class="card border-primary" style="width: 50%">
        <form method="post" action="/blogadd/" style="padding: 20px">
            <div class="form-group">
                <label for="summary" class="text-primary">Blog Title</label>
                <input class="form-control" id="title" name="blogTitle">

                <label for="detail" class="text-primary">Blog Text</label>
                <textarea class="form-control" id="text" rows="3" name="blogText"></textarea>
            </div>
                <input type="submit" class="btn btn-success" value="Save Blog">
        </form>
        </div>
    </div> <!-- container -->
   </body>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</html>

