<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
  </head>
  <body>
      <% include nav %>

	<% let blogs = {}; %>
       
       <% if (blogList.length == 0) { %>
      
	 <h4> No tasks to display. Add one above.</h4>

	<% } else {%>

	<h4> We have some tasks!</h4>

	<% } %>
	
	  
	


  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
